{% extends 'base.html.twig' %}
{% block body %}
  {# , {'_format': 'json'} #}
  {# {{ form_start(form, {'action': path('api_post_users'), 'method':'POST'}) }} #}
  {# username:<input type="text" name="username" /> #}
  {# password:<input type="password" name="password" /> #}
  {# <input type="submit" value"submit" /> #}
  {# </form> #}

  <form name="fos_user_registration_form" method="post" action="/symfony/restApiDemo/web/app_dev.php/api/users.json" class="fos_user_registration_register">
    <div id="fos_user_registration_form"><div><label for="fos_user_registration_form_email" class="required">form.email</label>

        <input type="email" id="fos_user_registration_form_email" name="email" required="required" /></div><div><label for="fos_user_registration_form_username" class="required">form.username</label>

        <input type="text" id="fos_user_registration_form_username" name="username" required="required" maxlength="255" pattern=".{2,}" /></div><div><label for="fos_user_registration_form_plainPassword_first" class="required">form.password</label>

        <input type="password" id="fos_user_registration_form_plainPassword_first" name="plainPassword[first]" required="required" /></div><div><label for="fos_user_registration_form_plainPassword_second" class="required">form.password_confirmation</label>

        <input type="password" id="fos_user_registration_form_plainPassword_second" name="plainPassword[second]" required="required" /></div></div>
    <div>
      <input type="hidden" id="fos_user_registration_form__token" name="_token" value="sVUK1sRtywgKL4jTXaE2l3Ls3YmvpSPGYxJe_db4uI8" />
      <input type="submit" value="registration.submit" />
    </div>
</form>

{% endblock %}
